<div id="wrapper">

  <div id="title">
    Chutador
  </div>

  <div id="grid">
    <% 6.times do %>
      <div class="grid_row">
        <% 5.times do %>
          <div class="grid_cell transparent">&nbsp;</div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="actions">
    <div id="flags">
      <div class="language selected" data-language="PT">🇧🇷</div>
      <div class="language" data-language="EN">🇺🇸</div>
    </div>

    <div id="search"><%= t('search') %></div>
  </div>

  <div id="suggestions">
    <div id="dialog_top">
      <div id="suggestions_header"><%= t('suggestions') %></div>
      <div id="close_suggestions">X</div>
    </div>

    <div id="suggestions_results">
      <div id="loading"><%= t('loading')%></div>
      <div id="results">
        <%= t('number_of_suggestions_found') %>: <span id="count"></span>
        <div id="words"></div>
      </div>
    </div>
  </div>

  <div id="keyboard">
    <% ['QWERTYUIOP', 'ASDFGHJKL', 'ZXCVBNM'].each_with_index do |row, index| %>
      <div class="keyboard_row">
        <% row.each_char do |letter| %>
          <div class="keyboard_cell"><%= letter %></div>
        <% end %>
        <% if index == 2 %>
          <div class="keyboard_cell">⌫</div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>