<div id="wrapper">

    <div id="popup">
    <div id="popup_top">
      <div id="popup_title">
        <span id="suggestions_title"><%= t('suggestions') %></span>
        <span id="helper_title">Chutador</span>
      </div>
      <div id="close_popup">X</div>
    </div>

    <div id="popup_bottom">
      <div id="loading"><%= t('loading')%></div>
      <div id="results">
        <%= t('number_of_suggestions_found') %>: <span id="count"></span>
        <div id="words"></div>
      </div>

      <div id="helper_content">
        <%= raw(t('intro')) %>
        <p>
          <a href="http://github.com/joaopribs/chutador" target="_blank">http://github.com/joaopribs/chutador</a><br/>
          <a href="mailto:joao@jpribeiro.com.br" target="_blank">joao@jpribeiro.com.br</a>
        </p>

        <p>
          <%= t('instructions_title') %>
        </p>

        <p>
          <ul>
            <li>
              <%= t('instructions_intro') %>
            </li>
            <li>
              <%= t('instructions_letters_colors') %>
            </li>
            <li>
              <%= t('instructions_results') %><br/>
              <span class="most_points"><%= t('words_with_most_points') %><br/>
              <span class="uncommon_letters"><%= t('words_with_uncommon_letters') %><br/>
              <span class="repeated_letters"><%= t('words_with_repeated_letters') %><br/>
              <span class="common_letters"><%= t('words_with_most_common_letters') %>
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <div id="helper_link">?</div>

  <div id="title">
    Chutador
  </div>

  <div id="grid">
    <% 5.times do %>
      <div class="grid_row">
        <% 5.times do %>
          <div class="grid_cell transparent">&nbsp;</div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="actions">
    <div id="flags">
      <% 
        languages = {
          EN: '🇺🇸',
          PT: '🇧🇷'
        }

        languages.each do |key, flag|
      %>
        <div class="language <%= I18n.locale.to_s.upcase == key.to_s ? "selected" : "" %>" data-language="<%= key %>"><%= flag %></div>
      <% end %>
    </div>

    <div id="buttons">
      <div id="clear"><%= t('clear') %></div>
      <div id="search"><%= t('search') %></div>
    </div>
  </div>

  <div id="keyboard">
    <% ['QWERTYUIOP', 'ASDFGHJKL', 'ZXCVBNM'].each_with_index do |row, index| %>
      <div class="keyboard_row">
        <% row.each_char do |letter| %>
          <div class="keyboard_cell" data-letter="<%= letter %>"><%= letter %></div>
        <% end %>
        <% if index == 2 %>
          <div class="keyboard_cell keyboard_cell_double" data-letter="delete">⌫</div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
